<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <div th:replace="fragments :: stylesheetsAndSuch"></div>
    <title>My group</title>
</head>
<body>

<div class="container">
<h1 th:text="${session.mygroup.name}"></h1>
</div>
<!-- List of members
-->

<h2>Members: </h2>
<ul class="list-group list-group-horizontal-sm" th:if="${session.listOfMembers != 0}" >
    <li class="list-group-item" th:each="member : ${session.listOfMembers}">
        <h2 th:text="${member.username}"></h2>
        <br>
    </li>
</ul>

<!-- Modal to add member-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMember">Add member to group</button>
<button onclick="run()">Run</button>


<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="membername" class="col-form-label">Who would you like to add?</label>
                        <input type="text" class="form-control" id="membername">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="sendbutton">Send invite</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

<div id="newModal">
    

</div>

<script src="mainfunction.js">
</script>


<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"
></script>
</body>
</html>