<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/mainstyle.css" th:href="@{/mainstyle.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Tajawal&display=swap" rel="stylesheet">

    


    <title>Workout</title>
</head>
<body>
<div th:replace="fragments :: header">
    Detta ska ersättas av ett fragment footer när Spring Boot körs!
</div>

<!-- GO BACK TO START PAGE BUTTON -->
<div>
    <button href="../userStartPage.html" class="btn color-contrast mr-2">BACK TO HOME PAGE</button>
</div>

<div class="container mt-5 float-lg-none container-workout" th:object="${workout}">
    
    <div class="card color-contrast">
        <div class="card-header pt-4">
            <h4 class="card-title" th:text="'Workout: '+*{name}">TEST NAME</h4>
        </div>

        <div class="card-body">
            <h5 class="card-title" th:text="'Date: '+*{date}"></h4>
            <span th:if="*{type}!='none'" th:text="*{type}"></span>
            <span th:if="*{time}!='none'" th:text="*{time}+' minutes'"></span>

            
                <ul th:each="exercise:${exercises}">
                        <!-- Title = link to edit exercise -->
                        <h5 class="mt-3"  th:data-arg1="${exercise.name}"  th:if="${exercise.name != null}" th:text="${exercise.name}">Exercise 1</h5>
                        <p th:if="${exercise.seconds != 0}" th:text="'seconds: ' + ${exercise.seconds}"></p>
                        <p th:if="${exercise.meters != 0}" th:text="'meters: ' + ${exercise.meters}"></p>
                        <p th:if="${exercise.calories != 0}" th:text="'calories: ' + ${exercise.calories}"></p>
                        <p th:if="${exercise.weight != 0}" th:text="'weigth: ' + ${exercise.weight}"></p>
                        <p th:if="${exercise.reps != 0}" th:text="'reps: ' + ${exercise.reps}"></p>
                        <p th:if="${exercise.sets != 0}" th:text="'sets: ' + ${exercise.sets}"></p>
                        <p th:if="${exercise.cadence != 0}" th:text="'cadence: ' + ${exercise.cadence}"></p>
                
                </ul>
        </div>

        <div class="card-footer mt-5">
            <!-- EDIT SAVE BUTTON -->
            <div>
                <button id="editsaveworkout" class="btn color-dark mr-2" onclick="saveWorkout()" style="float:left">Edit workout</button>
            </div>

            <!-- Button ADD EXERCISE -->
            <div id="containeraddexercise" style="display: none;">
                <button type="button" style="float:right" class="btn color-dark" data-toggle="modal" data-target="#newexercise">Add exercise</button>
            </div>

            <!-- Button SEND WORKOUT-->
            <div id="containersendworkout" style="display: block;">
                <button type="button" style="float:right" class="btn color-dark" data-toggle="modal" data-target="#sendtogroup">Send workout</button>
            </div>
        
        </div>
    </div>

        

            <!-- COMPLETED WORKOUT button -->
            <div>
                <form method="post" action="/doneworkout" th:object="${workout}">
                    <button type="submit" class="btn btn-block color-contrast button-complete mt-4 pt-2 pb-2">COMPLETED WORKOUT</button>
                </form>
            </div>
        

      

    <div class="modal fade" id="newexercise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Exercise</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form
                            th:object="${exercise}"
                            method="POST"
                            action="/postexercise"
                    >
                        <!--class="form-inline ml-auto"-->
                        <div class="form-group">

                            <input
                                    type="hidden"
                                    class="form-control mb-2"
                                    name="exerciseid"
                                    th:field="*{id}"
                            />

                            <label for="exercise">Choose a prior exercise</label>
                            <select id="exercise" th:field="*{name}" name="exercisename" class="form-control">
                                <option value="New Exercise">New exercise</option>
                                <option th:each="ename:${priorexercises}" th:value="${ename}" th:text="${ename}"></option>
                            </select>

                            <label class="mt-2" for="newexercisename">Or enter new exercise</label>
                            <input
                                    type="text"
                                    class="form-control mb-2"
                                    placeholder="Exercise name"
                                    id="newexercisename"
                                    name="newexercisename"
                                    th:field="*{name}"
                            />

                            <label for="seconds">Seconds</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="seconds"
                                    th:field="*{seconds}"
                            />
                            <label for="meters">Meters</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="meters"
                                    th:field="*{meters}"
                            />
                            <label for="calories">Calories</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="calories"
                                    th:field="*{calories}"
                            />
                            <label for="weight">Weight</label>
                            <input
                                type="number"
                                class="form-control mb-2"
                                id="weight"
                                th:field="*{weight}"
                            />
                            <label for="reps">Reps</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="reps"
                                    th:field="*{reps}"
                            />
                            <label for="sets">Sets</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="sets"
                                    th:field="*{sets}"
                            />
                            <label for="cadence">Cadence</label>
                            <input
                                    type="number"
                                    class="form-control mb-2"
                                    id="cadence"
                                    th:field="*{cadence}"
                            />

                        </div>

                        <button class="btn btn-block mt-2 color-contrast mb-2 mt-4">Add exercise</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- End of Exercisemodal -->

    <!-- Send to Group modal -->
    <div class="modal fade" id="sendtogroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Send workout to group</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--we need to send users list of groups with ids to form-->
                <div class="modal-body">
                    <form
                            method="POST"
                            action="/postgroupsfromworkout"

                    >

                        <div class="form-group">

                            <label for="usergroups">Hold in <b>shift</b> to choose multiple groups!</label>
                            <select multiple id="usergroups"name="sendGroups" class="form-control">
                                <option th:each="usergroup:${groups}" th:value="${usergroup.name}" th:text="${usergroup.name}"></option>
                            </select>

                            <button class="btn btn-block mt-4 color-contrast mb-2">Send workout</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- End of modal -->

    <!--private String name;
    private LocalDate date;
    private String type;
    private int time;
    private String place;
    private String description;
    private String category;-->
</div>





<div th:replace="fragments :: footer">
    Detta ska ersättas av ett fragment footer när Spring Boot körs!
</div>
<script src="mainfunction.js"></script>

<script src="workoutfunction.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"
></script>
</body>
</html>